.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
}
  
  .productCard {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}
  
.productCard img {
    width: 180px; 
    height: 200px; 
    object-fit: cover; 
    object-position: center; 
}

.link{
    color: #000;
    text-decoration: none;
}
  
.button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
